<div class="row justify-content-between mt-4">
{{# each products }}
   <div class="card" style="width: 18rem;">
      <img src="{{this.imagePath}}" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title">{{this.title}}</h5>
         <p class="card-text">{{this.description}}</p>
         <div class="d-flex justify-content-between">
            <h2>${{this.price}}</h2>
            <a href="#" class="btn btn-success btn-text-center">Buy</a>
         </div>
      </div>
   </div>

{{/each}}
